.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    
    font-style: normal;
    
  }
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 } 
 /* banner section style */
.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1440px;
    margin:  auto;
    border: 0px solid red;
    min-height: 672px;
    background-image: url('../assets/Hero-bg.png');
     background-size: cover;
    
}
.banner-content p {
    padding: 25px;
    font-size: 16px;
    color:#757575;
}
.banner-content{
display: flex; 
flex-direction: column;
justify-content: center;
align-items: center;
font-weight: bold;
font-size: larger;
color: #0D1321;
margin: 70px;
 padding: 10px;
}


.btn-praimary{
    font-weight: bold;
    font-size: larger;
    padding: 25px 18px;
    margin: auto;
    border: none;
    border-radius: 0px;
    
    
    color: white;
    background-color: #0D1321;
}


    

.secondary-bg{
    max-width: 1140;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.section-title{
    font-size: 35px;
    font-weight:bold;
    color: #0D1321;
    
}
.section-description{
    font-size: 16px;
    color:#757575;
}

   

 
    
    





